<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.fruitmall.mall.dao.mapper.ConsumeEntityMapper">
    <sql id="Base_column_List">
        id,userId,orderId,score,date,money,payPath
    </sql>
    <insert id="insert" parameterType="com.hongcheng.fruitmall.mall.entity.ConsumeEntity">
        INSERT INTO consume
        (userId,orderId,score,date,money,payPath)
        VALUES
        (#{userId},#{orderId},#{score},#{date},#{money},#{payPath})
    </insert>
    <select id="getByUserId" resultType="com.hongcheng.fruitmall.mall.entity.ConsumeEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM consume
        <where>
            userId=#{userId}
        </where>
    </select>
    <select id="getByOrderId" resultType="com.hongcheng.fruitmall.mall.entity.ConsumeEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM consume
        <where>
            orderId=#{orderId}
        </where>
    </select>


</mapper>