<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.fruitmall.mall.dao.mapper.UserCollectEntityMapper">
    <sql id="Base_column_List">
        collectId,userId,productId,dateTime
    </sql>
    <select id="selectByUserId" resultType="com.hongcheng.fruitmall.mall.entity.UserCollectEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM user_collect
        <where>
            userId=#{userId}
        </where>
    </select>
    <select id="selectById" resultType="com.hongcheng.fruitmall.mall.entity.UserCollectEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM user_collect
        <where>
            collectId=#{id}
        </where>
    </select>
    <insert id="insert">
        INSERT INTO user_collect
        (userId,productId,dateTime)
        VALUES
        (#{userId},#{productId}#{dateTime})
    </insert>
    <delete id="delete">
        DELETE FROM user_collect
        WHERE collectId=#{id}
    </delete>
</mapper>