<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.discover.mall.dao.mapper.CommentEntityMapper">
    <sql id="Base_column_List">
        commentId, content, productId,commentCount
    </sql>
    <select id="getCommentByProductId" resultType="com.hongcheng.discover.mall.entity.CommentEntity" parameterType="INTEGER">
        SELECT
        <include refid="Base_column_List"/>
        FROM comment
        <where>
            productId=#{productId}
        </where>
    </select>
    <update id="updateByProductId" >
        UPDATE comment
        <set>
            <if test="content != null">
                count =#{content}
            </if>
        </set>
        <where>
            productId=#{productId}
        </where>
    </update>
    <insert id="insert">
        INSERT INTO comment
        (content,productId,commentCount)
        VALUES
        (#{content},#{productId},#{commentCount})
    </insert>


</mapper>