<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.discover.mall.dao.mapper.OrderEntityMapper">
    <sql id="Base_column_List">
        orderId,productId,price,productQuantity,payMoney,payPath,
        payTime,createTime,state,scoreOne,scoreAll,remarks,userId,userAddress
    </sql>
    <select id="selectByOrderId" resultType="com.hongcheng.discover.mall.entity.OrderEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM `order`
        <where>
            orderId=#{orderId}
        </where>
    </select>
    <insert id="insert">
        INSERT INTO `order`
        (productId,price,productQuantity,payMoney,payPath,
        payTime,createTime,state,scoreOne,scoreAll,remarks,userId,userAddress)
        VALUES
        (#{productId},#{price},#{productQuantity},#{payMoney},#{payPath},#{payTime},
        #{createTime},#{state},#{scoreOne},#{scoreAll},#{remarks},#{userId},#{userAddress})
    </insert>
    <select id="selectByUserId" resultType="com.hongcheng.discover.mall.entity.OrderEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM `order`
        <where>
            userId=#{userId}
        </where>
    </select>


</mapper>