<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.discover.mall.dao.mapper.ProductTypeEntityMapper">
    <sql id="Base_column_List">
        typeId,typeName,typeState
    </sql>
    <select id="selectById" resultType="com.hongcheng.discover.mall.entity.ProductTypeEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM productType
        <where>
            typeId=#{id}
        </where>
    </select>
    <insert id="insert">
        INSERT INTO productType
        (typeName,typeState)
        VALUES
        (#{typeName},#{typeState})
    </insert>
    <update id="update">
        UPDATE productType
        <set>
            <if test="typeName != null">
                typeName=#{typeName},
            </if>
            <if test="typeState != null">
                typeState=#{typeState},
            </if>
        </set>
    </update>

</mapper>